@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
   
</head>
<body>
    <header>
        <h1>Tradição & Sabor</h1>
        <!-- Aqui você pode adicionar o conteúdo da sua navbar -->
    </header>

    <section id="home">
        <h1>Bem-vindo ao Tradição & Sabor</h1>
        <p>Desfrute de uma refeição incrível com um toque especial.</p>
        <a href="https://t.me/clinovacao_bot" target="_blank" rel="noopener noreferrer">
            <button type="button">Contate-nos!</button>
        </a>

        <div class="gallery">
            <div>
                <img src="link-para-imagem1.jpg" alt="Prato 1">
                <p>Nome do Prato 1</p>
            </div>
            <div>
                <img src="link-para-imagem2.jpg" alt="Prato 2">
                <p>Nome do Prato 2</p>
            </div>
            <div>
                <img src="link-para-imagem3.jpg" alt="Prato 3">
                <p>Nome do Prato 3</p>
            </div>
        </div>
    </section>

    <footer>
        <!-- Aqui você pode adicionar o conteúdo do seu footer -->
    </footer>
</body>
</html>
